
<h2 class="text-center">Slider</h2>
<div class="container" style="background-color: #eee;">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <slider-atom></slider-atom>
      </div>
      <div class="carousel-item">
        <slider-atom></slider-atom>
      </div>
      <div class="carousel-item">
        <slider-atom></slider-atom>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon " style="background-color: black;" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
